<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Add Lesson</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
</head>
<body>
<header class="container">
    <div class="page-header">
      <div class="logo">
        <a href="index">LearnSphere</a>
      </div>
      
      <ul>
        <li><a href="trainerHome" class="active" >Home</a></li>
        <li><a href="logout">Logout</a></li>
      </ul>
    </div>
  </header>


<div class="container1">
<div class="sidebar">
      <h3>Trainer Home</h3>
      <a href="trainerHome" >Home</a>
      <a href="createCourse">➕ Add Course</a>
      <a href="addLesson" class="active">📝 Add Lesson</a>
      <a href="viewAllCourses">👀 View All Courses</a>
    </div>
<div class="container2">
    <form class="addForm" action="addLessons" method="post">
        <h1>Add Lesson</h1>

        <label>Course ID:</label>
        <select name="course.courseId">
            <option value="" selected disabled>Select Course</option>
            <option th:each="course : ${courses}" th:value="${course.courseId}">
               <span th:text="${course.courseId}"></span> - <span th:text="${course.courseName}"></span>
            </option>
        </select><br><br>

        <label>Lesson ID:</label>
        <input type="text" name="lessonId"><br><br>

        <label>Lesson Name:</label>
        <input type="text" name="lessonName"><br><br>

        <label>Lesson Video:</label>
        <input type="text" name="link"><br><br>

        <label>Lesson Topics:</label>
        <input type="text" name="topics"><br><br>

        <button>Add Lesson</button>
    </form>
    </div>
</div>

</body>
</html>

