<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>
<header class="container">
    <div class="page-header">
      <div class="logo">
        <a href="index">LearnSphere</a>
      </div>
      
      <ul>
        <li><a href="index" class="active" >Home</a></li>
        <li><a href="login">Login</a></li>
      </ul>
    </div>
<div class="container1">
<div class="home">
   <h1>Welcome to LearnSphere!</h1>
   <p>Congratulations on joining LearnSphere, your go-to platform for learning and skill development. Get ready to embark on an enriching educational journey with us.</p>
   <p>Explore a diverse range of courses designed to enhance your knowledge and expertise. Whether you're aiming to acquire new skills, advance your career, or simply indulge your curiosity, LearnSphere has the right courses for you.</p>
   <p>Your learning adventure starts now! Dive into the world of knowledge, engage with experienced instructors, and elevate your skills to new heights.</p>
   <a href="login"><button>Login</button></a>
</div>
</div>

</body>
</html>