<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Songs</title>
    <link rel="stylesheet" th:href="@{/css/allCourses.css}">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script th:inline="javascript">
        $(document).ready(function() {
            $(".viewLessons-button").click(function(e) {
                e.preventDefault();
                var courseId = $(this).data("courseid");
                window.location.href = '/viewLessons?courseId=' + courseId;
            });
        });
    </script>
</head>
<body>

<header class="container">
    <div class="page-header">
      <div class="logo">
        <a href="index">LearnSphere</a>
      </div>
      
      <ul>
        <li><a href="studentHome" class="active" >Home</a></li>
        <li><a href="logout">Logout</a></li>
      </ul>
    </div>
  </header>


    <div class="container1">
    <div class="sidebar">
      <h3>Student Home</h3>
      <a href="studentHome" >Home</a>
      <a href="pay">Buy Courses</a>
      <a href="myCourses" class="active">My Courses</a>
      <a href="#">👀 View Resources</a>
    </div>
       <div class="container3">
       <div class="courses" th:each="course : ${courses}">
            <div class="mycourse-card">
                <h2 th:text="${course.courseName}"></h2>
                <p><strong>ID:</strong> <span th:text="${course.courseId}"></span></p>
                <p><strong>Price:   ₹</strong><span th:text="${course.coursePrice}"></span></p>
                <a href="#" class="viewLessons-button" th:data-courseid="${course.courseId}">View Lessons</a>
            </div>
       </div>
    </div>
    </div>

</body>
</html>
