<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Songs</title>
    <link rel="stylesheet" th:href="@{/css/allCourses.css}">
</head>
<body>

    <h1>All Courses : </h1>
    <div class="container">
       <table>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th></th>
            </tr>
            <tr th:each="course : ${courses}">
                <td th:text="${course.courseId}"></td>
                <td th:text="${course.courseName}"></td>
                <td th:text="${course.coursePrice}"></td>
                <td><a href="/pay" class="buy-button" th:data-courseid="${course.courseId}"><button>Buy</button></a></td>
            </tr>
       </table>
    </div>

</body>
</html>
