<!DOCTYPE html>
<html xmlns:th="www.thymleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Student</title>
<link rel="stylesheet" th:href="@{/css/studentHome.css}">
</head>
<body>
  
   <div class="navbar">
     <a href="logout">Logout</a>
   </div> 
   <div class="container2">
       <div class="customer2">
          <h1>Student Home</h1>
          <a href="pay"><button>Buy Courses</button></a><br>
          <a href="myCourses"><button>My Courses</button></a>
       </div>
    </div>
</body>
</html> 
