<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Trainer Home</title>
<link rel="stylesheet" th:href="@{/css/trainerHome.css}">
</head>
<body>

<div class="navbar">
    <a href="logout">Logout</a>
</div>
<div class="container"> 
    <div class="trainer">
       <h1>Trainer Home</h1>
       <a href="createCourse"><button>Add Course</button></a><br>
       <a href="addLesson"><button>Add Lesson</button></a><br>
       <a href="viewAllCourses"><button>View All Courses</button></a><br>
    </div>
</div>

</body>
</html>
