<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Lessons</title>
    <link rel="stylesheet" th:href="@{/css/allLessons.css}">
</head>
<body>

<header class="container">
    <div class="page-header">
      <div class="logo">
        <a href="index">LearnSphere</a>
      </div>
      
      <ul>
        <li><a href="index" class="active" >Home</a></li>
        <li><a href="logout">Logout</a></li>
      </ul>
    </div>
  </header>

    <div class="container1">
       <div class="lessons" th:each="lesson : ${lessons}">
            <div class="lesson-card">
                <h2 th:text="${lesson.lessonName}"></h2>
                <p><strong>Topics:</strong> <span th:text="${lesson.topics}"></span></p>
                <div class="video">
                    <video width="560" height="315" controls>
                        <source th:src="${lesson.link}" type="video/mp4">
                    </video>
                </div>
            </div>
       </div>
    </div>

</body>
</html>
